input {
    font-size: 1.5em;
}

.mat-form-field, .mat-chip-list {
    display: flex;
    justify-content: center;
}
.example-card {
    width: 180px;
    margin-left: 20px;
    margin-top: 20px;
  }

  .card-holder {
      background-color: tomato;
      padding: 10px 0px;
      margin-top: 10px;
      display: flex;
      flex-wrap: wrap;
  }