<mat-form-field floatLabel="never">
  <mat-label>Search</mat-label>
  <input matInput type="text" [(ngModel)]="searchQuery" (keyup.enter)="searchChanged($event)">
  <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="searchQuery=''">
    <mat-icon inline=true>close</mat-icon>
  </button>
</mat-form-field>
<mat-chip-list [multiple]="true">
  <mat-chip *ngFor="let category of categoriesCountMap | keyvalue" color="primary" #chip="matChip"
    (click)="chip.selected=!chip.selected" (selectionChange)="changeSelectedCategories(category.key)">{{ category.key }}
    ({{ category.value }})</mat-chip>
</mat-chip-list>

<div *ngIf="tvSeries">
  <app-cards-holder [tvSeries]="tvSeries"></app-cards-holder>
</div>